@charset "utf-8";

body {
	margin: 3em auto;
	width: 90%;
}
#login_wrapper {
	display: flex;
	align-items: center;
	padding: 3em 0;
	margin: auto;
	border: 1px solid #aaa;
	max-width: 960px;
	border-radius: 10px;
}

#toEntryForm {
	margin: auto;
	width: 50%;
	> div {
		width: 80%;
		margin: 1.5em auto;
		text-align: center;
	}
	#entry {
		margin: auto;
		margin-top: 3em;
		background: #1087f6;
		border-radius: 20px;
		border: none;
		text-align: center;
		width: 80%;
		height: 40px;
		padding: 0 2em;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
}
#login_form {

	margin: auto;
	width: 50%;
	border-right: 2px solid #aaa;
	* {
		box-sizing: border-box;
		vertical-align: middle;
	}
	h3 {
		text-align: center;
	}

	> div {
		width: 80%;
		margin: 2em auto;
		text-align: center;
	}
	input {
		border: none;
		padding: 0 4px;
	}

	#Password {
		display: none;
	}
	.login_box,
	.password_box {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		border: 1px solid #ddd;
		border-radius: 4px;
		height: 40px;
		.body {
			height: 100%;
			width: 100%;
			position: relative;
			input {
				height: 100%;
				width: 100%;
				max-height: 100%;
				border-radius: 4px;
			}
			button {
				position: absolute;
				top: 0;
				right: 5px;
			}
		}
	}

	.password_box {
		input {
			width: calc(100% - 36px)!important;
			margin-right: 36px;
		}
		button {
			border: none;
			background: transparent;
			cursor: pointer;
			width: 28px;
			height: 100%;
			svg {
				padding-right: 4px;
			}
		}
	}
	.head_icon {
		padding: 0 8px;
		border-right: 1px solid #ddd;
		height: 30px;
		line-height: 30px;
		width: 40px;
		text-align: center;
	}
	.password_not_view {
		display: none;
	}
	svg {
		width: 20px!important;
		height: 20px!important;
		line-height: 20px!important;
	}
	#login {
		margin: auto;
		background: #f6b110;
		border-radius: 20px;
		border: none;
		text-align: center;
		width: 80%;
		height: 40px;
		padding: 0 2em;
		color: #fff;
		font-weight: bold;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	.error {
		display: block;
		font-size: 0.7em;
		color: #ff3300;
		text-align: left;
	}
}
